body {
    font-family: 'Courier New', Courier, monospace;
}

#primer_p {
    background-color:gray;
}

.especial {
    color: blue;
}

h2, h3 {
    border: solid, 1px, orange;
}

ul {
    color: red;
}

#ul_2nivel {
    color: green;
}

img {
    width: 100px;
    height: 40px;
}

p img {
    border: solid, 5px, black;
}

[alt="segunda"] {
    border: solid, 5px, red;
}


div {
    display: flex;
    padding: 10px;
    align-items: baseline;
}