h1 {
    color: #333;
    size: 20px;
}

h2 {
    color: #666;
    size: 16px;
}

p, li, td {
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    size: 16px;
}

caption {
    color: #000;
    size: 14px;
}

table {
    
}

table, th, td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    border-collapse: collapse;
}

thead th {
    color: #fff;
}

thead {
    background-color: #666;
}

tbody {
    background-color: fff;
}

tfoot {
    background-color: #ccc;
}